alias jsonpp="python -m json.tool"
alias be="bundle exec"
alias current-branch="git symbolic-ref HEAD | cut -d '/' -f 3"
alias anniversaries="ack -a -h `date +"%m/%d"` /usr/share/calendar | sort"
alias gnp="git --no-pager"
alias wifi-ip="ipconfig getifaddr en1"
alias gbg="git branch -a | ack"
alias newrelic-check='curl -0v -H "Cache-Control: no-cache, max-age=0" -H "User-Agent: NewRelicPinger/1.0 (1)" -H "X-Newrelic-Ignore: true"'
alias nrcheck=newrelic-check
alias root='sudo $(fc -ln -1)'
