alias jsonpp="python -m json.tool"
alias be="bundle exec"
alias current-branch="git symbolic-ref HEAD | cut -d '/' -f 3"
alias anniversaries="ack -a -h `date +"%m/%d"` /usr/share/calendar | sort"
alias gnp="git --no-pager"
alias wifi-ip="ipconfig getifaddr en1"
alias gbg="git branch -a | ack"
alias newrelic-check='curl -0v -H "Cache-Control: no-cache, max-age=0" -H "User-Agent: NewRelicPinger/1.0 (1)" -H "X-Newrelic-Ignore: true"'
alias nrcheck=newrelic-check
alias cmon='sudo $(fc -ln -1)'
alias ack="sl"
alias trl=trans
alias lookup=define
alias mux=tmuxinator
alias serve="ruby -run -ehttpd . -p8000"
alias t=terse
alias tt=tterse
alias v=verbose
alias vv=vverbose
alias vvv=vvverbose
alias b="git b"
alias D="git di"
alias F="git fetch --prune"
alias r="recent"
alias s="git status"

# fasd and fzf
alias D='cd `fasd -dl "$1" | fzf --tac +m`'

if command -v exa >/dev/null; then
  alias ls=exa
  alias ll="exa --long -bhm --time-style=long-iso"
  alias lg="exa -lah --git --time-style=long-iso"
  alias tree="exa --tree"
fi

if command -v rg >/dev/null; then
  alias rg="rg -i"
  alias nofit="rg -s '(fit|fdescribe)' --type-not=xml"
fi
