*.DS_Store
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.bash_history
/.cache
/.cups
/.dropbox
/.dvdcss
/.el4r
/.el4rrc.rb
/.elinks
/.emacs
/.esets
/.explorer.cache
/.explorer.local
/.fontconfig
/.gem
/.gnupg
/.heroku
/.history
/.irb-history
/.irb_history
/.irbhistory
/.lesshst
/.links
/.local_zshrc
/.maid
/.mplayer
/.mysql_history
/.netbeans
/.netrc
/.node-gyp
/.npm
/.oh-my-zsh
/.passwordsafe
/.pentadactyl
/.pentadactylrc
/.php_history
/.plex
/.pow
/.ruby_inline
/.rubyinline
/.rvm
/.rvmrc
/.screeninator
/.sqlite_history
/.ssh
/.subversion
/.svn
/.tmuxinator
/.trc
/.vagrant.d
/.vegas
/.vim/.netrwhist
/.vim/autoload
/.vim/bundle
/.vim/doc
/.vim/plugged
/.viminfo
/.vimperator
/.vimperatorrc
/.wireshark
/.wireshark-etc
/.zcompdump
/.zsh-update
/.zsh_history
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/bin/tunnel
/bin/tunnel-mysql
/code
/dropbox-sdball
/fun
/gist
/git
/github
/log
/skype_downloads
/temp
/work
/worklog
/learning
/.bash_login
/virtualenv.py*
/mysql
/.profile
/.pulse
/.pulse-cookie
/.esd-auth
/.vagrant
/.rnd
/mbox
/.esd_auth
/.alias.cache
/.virtualenvs
/test
/local_bin
/.bash_logout
/.sudo_as_admin_successful
/VirtualBoxVMs
/Talks
/.homebrew_temp
/src
/.dropbox-two
/mycrontab
/.bundle
/.hushlogin
/.scout
/.selected_editor
/.exercism
/work.conf
/.tmate-work.conf
/Sites
/.zcompdump*
/tmux-client*
/tmux-server*
/.vitetris
/.frotzrc
/.jira.config
/.rubies
/.ruby-version
/.last_timemachine_backup
/.psql_history
/.dropbox-master
/.pia_manager
/.pry_history
/.rbx
/source
/.lein
/.aptitude
/.erlang.cookie
/.boot2docker
/bin/gitignored
/.irssi/config
/.jrnl_config
/.ovftool.ssldb
/.pip/pip.log
/.jira-cli
/.slack.conf
/.guard_history
/.chefdk
/.berkshelf
.marky_markov_dictionary.mmd
.npmrc
/.bundler
/Dropbox*
/.bash_sessions
/.rbenv
/.kerl
/.docker
dev
.base16_theme
.vimrc_background
.exenv
.hex
.mix
.asdf
.atom
.oracle_jre_usage
research/
.fasd
Virtualbox\ VMs
erlang
bin/kerl
bin/rebar
.kerlrc
.s3cfg
.local/share/ruby-advisory-db/
.local/share/heroku
.puma-dev
.cargo
gopath/
.gopath/
.plexht
.aws
.rediscli_history
.hyper_plugins
.zgen
.electron
.ansible/
.rustup/
.multirust
.pivman/
.rationale.log
.dialyzer_plt
.fzf/
.ansible-playbook-commands.log
Projects/
.tldrc/
.node_repl_history
.fzf.*
.local/
.account
.vscode/
.anyconnect
.cisco/
.packer.d/
vmconfig.json
.v8flags*
.nvm/
TODO.md
.vim/work/
.pre-commit/
.slideshow/
.exercism.json
.standard-cache/
.yarnrc
exercism/
.tig_history
demo/
.vmtesttool/
.cht.sh/
.iterm2/
.iterm2_shell_integration.zsh
.zoomus/
IDEAS.md
.memory_logs/
.sonic-pi/
ghe/
.fnm/
.osquery/
build.properties
Google\ Drive\ File\ Stream
.serverlessrc
.serverless/
zsh.debug
.zsh_prompt*
.wget-hsts
.zcalc_history
iCloud Drive*/
.vim/view/
.gitconfig-ghe
Virtual\ Machines.localized/
.terminalizer/
.pyenv/
.pip/
.python_history
.tox/
.conan/
.config/direnv/allow
.pylint.d/
.config/asciinema/install-id
.config/base16-shell/
.config/configstore/nodemon.json
.config/configstore/update-notifier-npm.json
.config/hub
.config/jc
.config/htop/htoprc
.config/init.vim
.config/zsh/fast-syntax-highlighting/
.config/zsh/forgit/
.config/zsh/site-functions/async
.config/zsh/site-functions/prompt_chorn_setup
.config/zsh/site-functions/prompt_spaceship_setup
.config/zsh/zsh-async/
.config/zsh/zsh-autosuggestions/
.config/coc/
.dropbox-dist/
.histfile
*.swp
.tanium*
.grip/
.visidata/
.dlv/
.gradle/
.keychain/
.config/configstore/bower-github.json
.config/configstore/update-notifier-bower.json
NEXT.md
NOTES.md
.config/karabiner/automatic_backups/
.npm-global/
.yarn/
.clojure*
.m2/
.compose-data/
.zsh_sessions/
.gnupg_pre_2.1/
.contest/
.config/iterm2/
.kube/
.minikube/
.config/gcloud/
.tan-aws/
.terraform.d/
.solargraph/
.config/gh/
experiments/
gitlab/
.lint-prepush/
Backups/
notes/
.gore/
.vim/coc-settings.json
.swiftpm/
.jira.d/
.lima/
bitbucket/
.nuget/
.azure/
.azure-functions-core-tools/
.aspnet/
.azurefunctions/
.dotnet/
.templateengine/
.elixir-ls/
.fly/
.pack/
.config/SmartSetMasterErgo (Mac)/
.IdentityService/
.config/configstore/
.config/wireshark/
.config/Microsoft\\VisualStudio Services/
.logseq/
.microsoft/
.mitmproxy/
.mono/
.config/powershell/
.net/bicep
.config/StardewValley
.bun/
.degit/
.config/1Password/
.gitconfig-shift5
.conan2/
shift5/
babel*
.psqlrc
.pnpm-state/*
.gitconfig-work
.gitconfig-user
.cspell/
.cmake/
