*.DS_Store
/.CFUserTextEncoding
/.Trash
/.Xauthority
/.bash_history
/.cache
/.cups
/.dropbox
/.dvdcss
/.el4r
/.el4rrc.rb
/.elinks
/.emacs
/.esets
/.explorer.cache
/.explorer.local
/.fontconfig
/.gem
/.gnupg
/.heroku
/.history
/.irb-history
/.irb_history
/.irbhistory
/.lesshst
/.links
/.local_zshrc
/.maid
/.mplayer
/.mysql_history
/.netbeans
/.netrc
/.node-gyp
/.npm
/.oh-my-zsh
/.passwordsafe
/.pentadactyl
/.pentadactylrc
/.php_history
/.plex
/.pow
/.ruby_inline
/.rubyinline
/.rvm
/.rvmrc
/.screeninator
/.sqlite_history
/.ssh
/.subversion
/.svn
/.tmuxinator
/.trc
/.vagrant.d
/.vegas
/.vim/.netrwhist
/.vim/autoload
/.vim/bundle
/.vim/doc
/.vim/plugged
/.viminfo
/.vimperator
/.vimperatorrc
/.wireshark
/.wireshark-etc
/.zcompdump
/.zsh-update
/.zsh_history
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/bin/tunnel
/bin/tunnel-mysql
/code
/dropbox-sdball
/fun
/gist
/git
/github
/log
/skype_downloads
/temp
/work
/worklog
/learning
/.bash_login
/virtualenv.py*
/mysql
/.profile
/.pulse
/.pulse-cookie
/.esd-auth
/.vagrant
/.rnd
/mbox
/.esd_auth
/.alias.cache
/.virtualenvs
/test
/local_bin
/.bash_logout
/.sudo_as_admin_successful
/VirtualBoxVMs
/Talks
/.homebrew_temp
/src
/.dropbox-two
/mycrontab
/.bundle
/.hushlogin
/.scout
/.selected_editor
/.exercism
/work.conf
/.tmate-work.conf
/Sites
/.zcompdump*
/tmux-client*
/tmux-server*
/.vitetris
/.frotzrc
/.jira.config
/.rubies
/.ruby-version
/.last_timemachine_backup
/.psql_history
/.config
/.dropbox-master
/.pia_manager
/.pry_history
/.rbx
/source
/.lein
/.aptitude
/.erlang.cookie
/.boot2docker
/bin/gitignored
/.irssi/config
/.jrnl_config
/.ovftool.ssldb
/.pip/pip.log
/.jira-cli
/.slack.conf
/.guard_history
/.chefdk
/.berkshelf
.marky_markov_dictionary.mmd
.npmrc
/.bundler
/Dropbox*
/.bash_sessions
/.rbenv
/.kerl
/.docker
dev
.base16_theme
.vimrc_background
.exenv
.hex
.mix
.asdf
.atom
.oracle_jre_usage
research/
.fasd
Virtualbox\ VMs
erlang
bin/kerl
bin/rebar
.kerlrc
.s3cfg
.local/share/ruby-advisory-db/
.local/share/heroku
.puma-dev
.cargo
.gopath
.plexht
.aws
.rediscli_history
.hyper_plugins
.zgen
