[color]
    ui = auto
[alias]
    st = status
    ci = commit
    co = checkout
    lms = !git local-master-sync-check
    current-branch= !git branch | grep '*' | cut -d ' ' -f 2
    di = diff
    dc = diff --cached
    amend = commit --amend
    aa = add --all
    head = !git l -1
    h = !git head
    hp = "!show_git_head"
    r = !git l -30
    ra = !git r --all
    ff = merge --ff-only
    pullff = pull --ff-only
    noff = merge --no-ff
    l = "!pretty_git_log"
    la = !git l --all
    ls = ls-files
    div = divergence
    div-count = divergence-count
    divc = divergence-count
    dim = !git fetch && git divergence-count origin/master
    gn = goodness
    gnc = goodness --cached
    fa = fetch --all
    b = branch
    ds = diff --stat=160,120
    dh1 = diff HEAD~1
    unadd = reset HEAD
    merged = branch --merged
    snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
    s = !git fetch && git status
    edit-branch-commits = !git rebase -i `git outgoing master | tail -1 | xargs git log --format="%P" -1`
    ss = local-to-remote-status
    pu = push -u
    p = !git push -u origin `git current-branch`
    fb = create-feature-branch
    recent-branches = !git reflog --since '2 weeks ago' | grep checkout | grep -o 'moving from .*' | sed -e 's/moving from //' -e 's/.* to //' | sort | uniq
    last-commit = log -1 -p
    changed-files = diff --name-only
    remix = rebase -i --autosquash

    ; data analysis
    authors = !git log --format="%aN"
    unique-authors = !git authors | sort -u
    ranked-authors = !git authors | sort | uniq -c | sort -n
    emails = !git log --format="%aE"
    email-domains = !git log --format="%aE" | awk -F'@' '{print $2}'
    unique-email-domains = !git email-domains | sort -u
    ranked-email-domains = !git email-domains | sort | uniq -c | sort -n
    one-week = !git diff --stat `git log --since='1 week' --format=%H | tail -1`
[merge]
    tool = vimdiff

[core]
	editor = vim
	pager = less -r
	excludesfile = ~/.gitignore_global
[push]
	default = tracking
[advice]
	statusHints = false
[diff]
	mnemonicprefix = true
	algorithm = patience
[format]
    subjectprefix = git

[rerere]
	enabled = 1
[status]
    showUntrackedFiles = all
[user]
	email = sdball@gmail.com
	name = Stephen Ball
	signingkey = 05F89257
	useConfigOnly = true
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
[diff-so-fancy]
	stripLeadingSymbols = false
	markEmptyLines = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = false
